<%= form_for @kind do |f| %>

<%= render "shared/error_messages", :target => @kind %>

  <p>
    <%= f.label :botanic_name %><br />
    <%= f.text_field :botanic_name %>
  </p>
  <p>
    <%= f.label :english_name %><br />
    <%= f.text_field :english_name %>
  </p>
  <p>
    <%= f.label :maori_name %><br />
    <%= f.text_field :maori_name %>
  </p>
    <p>
    <%= f.label :family %><br />
    <%= f.text_field :family %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "mceEditor" %>
  </p>
  <p>
    <%= f.label :icon %>
    <%= f.select(:icon, Pictureandmeta.all.map{|p| [p.meta.name, p.picture.id]}, {:include_blank => true} ) %>
  </p>  
  <p><%= f.submit "Submit" %></p>

<% end %>
