<% title "Kind", @kind.botanic_name %>

<p>
  <strong>Botanic Name:</strong>
  <%=h @kind.botanic_name %>
</p>
<p>
  <strong>Maori Name:</strong>
  <%=h @kind.maori_name %>
</p>
<p>
  <strong>English Name:</strong>
  <%=h @kind.english_name%>
</p>
<p>
	<%= @kind.description.html_safe %>
</p>
<p>
	<table>
		<tr>
			<td><%= image_tag @kind.get_icon.picture.image.url(:thumb) unless @kind.icon.blank? %> </td>
	</table>
</p>
<p>
  <%= link_to "Edit", edit_kind_path(@kind) %> |
  <%= link_to "Destroy", @kind, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", kinds_path %>
</p>