<% title "Pictures" %>

<table>
	<tr>
		<th>
			Picture Name
		</th>
		<th>
			Picture
		</th>
	</tr>
	<% for picture in @pictures -%>
		<% ref = @picmetas.select {|pm| pm.ext_picture_id == picture.id.to_s} -%>
		<% r = ref[0] -%>
			<tr>
				<td><%=h r.name %></td>
				<td><%= image_tag picture.image.url(:thumb)%>
	      		<td><%= link_to "Show", picture %></td>
	      		<td><%= link_to "Edit", edit_picture_path(picture) %></td>
	      		<td><%= link_to "Destroy", picture, :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
  	<% end -%>
</table>

<p><%= link_to "New Picture", new_picture_path %></p>