<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? content_for(:title) : 'TreeGeek' %></title>
    <%= yield(:head) %>

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= include_tiny_mce_if_needed %>
</head>
  <body>
	<div id="container">
		
		<div id="header">
			<h1><%= content_for?(:header_title) ? content_for(:header_title) : 'TreeGeek' %></h1>
		</div>	
    	<div id="content">
      		<%- flash.each do |name, msg| -%>
        		<%= content_tag :div, msg, :id => "flash_#{name}" %>
      		<%- end -%>      
      		<%= yield %>
    	</div>
		<div id="sidebar">
			<table>
				<tr>
        			<td><%= link_to "Trees", trees_path %> </td>
      			</tr>
      			<tr>
					<td><%= link_to "Tree Kinds", kinds_path %></td>
				</tr>
					<tr><td><%= link_to "All Pictures", pictures_path %></td>
				</tr>
			</table>
		</div>
	</div>
  </body>
</html>
